
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
    background: #EEEFF2;
    text-align: center;
    font-family: 'Roboto', sans-serif
}

h1 {
    font-weight: 300;
}